# Ignore Python cache and logs
__pycache__/
*.py[cod]
*.log

# Ignore virtual environments
venv/
.env/
*.env

# Ignore system files
.DS_Store

# Ignore notebook checkpoints
.ipynb_checkpoints/

# Ignore build artifacts
build/
dist/
*.egg-info/

# Ignore test coverage files
.coverage
.coverage.*
htmlcov/
.pytest_cache/

# Ignore Spark temporary files
.metastore_db/
spark-warehouse/

# BUT allow raw data in this branch
!data/raw/
